<body class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="container" >
    <h1 class="text-center" id="encabezado">{{title}}</h1>

    <form>

      <div class="container-md">
        <h4>Numero 1</h4>
        <input type="number"  [(ngModel)] = "numero1" name="numero1" class="form-control"><br><br>
        <h4>Numero 2</h4>
        <input type="number" [(ngModel)] = "numero2" name="numero2" class="form-control"><br>
        <h2 class="text-center" id="labelResultado">Resultado: {{resultado}} </h2>
      </div>
  

      <div class="col-md-12 text-center">
        <input type="submit" value="Sumar" (click)="sumar()"  class="btn btn-outline-info">
        <input type="submit" value="Restar" (click)="restar()"  class="btn btn-outline-info">
        <input type="submit" value="Mutiplicar" (click)="multiplicar()" class="btn btn-outline-info">
        <input type="submit" value="Dividir" (click)="dividir()"  class="btn btn-outline-info">
      </div>
  
 
    </form>

  </div>
</body>

  
