.m-0{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
    rgba(170,170,241,1) 35%, rgba(0,212,255,1) 100%); 
}
.container{
    padding-top: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,10,133,1) 24%, 
    rgba(88,80,181,1) 69%, rgba(45,88,97,1) 100%);
}

.col-md-12{
    margin-top: 50px;
    margin-bottom: 50px;
} 
.btn-outline-info{
    size: 50px;
    margin-right: 50px;
    padding: 13px, 13px, 13px ,13px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px yellow;
}
.form-control{
    font-size: 20px;  
    font-family: monospace;
}   
#encabezado{
    color: yellowgreen;

}
#labelResultado{
    color: #D9E9ED;
}
h4 {
    color: aquamarine;
}